<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mpupa.model.cpt">
	<select id="getCoupleEmail" parameterType="string" resultType="CptModel">  
    	<![CDATA[
    		select * from spk_coupon where coupon_email=#{email}
    	]]>
	</select>
	<insert id="insertCpt" parameterType="CptModel">
		<![CDATA[
			insert into spk_coupon(coupon_email,save_time) values(#{coupon_email},#{save_time});
    	]]>
	</insert>
</mapper>